EDIT
<h2>EDIT PAGE</h2>
<form class="" action="/smoothie_entries/<%= @smoothie_entry.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="content">Content:</label>
  <textarea name="content" style="width:auto; height:auto;"><%= @smoothie_entry.content %></textarea>
  <p>By: <%= smoothie_entry.user.name %></p>
  <input type="submit" name="" value="Edit Entry">
</form>