<h2>Here are all the Vegantastic, Cruelty free, Gluten free, and Dairy free Smoothie Entries!</h2>
<h6>Disclaimer: Not all smoothies are 100% vegantastic cruelty free, gluten free, or dairy free</h6>
<% @smoothie_entries.each do |smoothie_entry| %>
<h3><a href="/smoothie_entries/<%= smoothie_entry.id %>"><%= smoothie_entry.created_at %></a></h3>
<p><%= smoothie_entry.content %></p>
<p>By: <%= smoothie_entry.user.name %></p>

<br>
<br>
<% end %>