<h2>Create A New Entry</h2>
<form class="" action="/smoothie_entries" method="post">
  <label for="content">Content:</label>
  <input type="text" name="content" value="">
  <input type="submit" name="" value="Create Entry">
</form>