<h2>These are your wonderful smoothie Creations!</h2>
<p><%= @smoothie_entry.content%></p>

<% if authorized_to_edit?(@smoothie_entry) %>
<a href="/smoothie_entries/<%=@smoothie_entry.id%>/edit">Edit Entry</a>
<form class="" action="/smoothie_entries/<%=@smoothie_entry.id%>" method="post">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" name='' value="Delete this entry">
</form>
<% end %>