<h1>Please Log In:</h1>

<form action="/login" method="post">
<label for="email">Email:</label>
<input type="text" name="email" value="">
<label for="password">Password:</label>
<input type="text" name="password" value="">
<input type="submit" value="Login">
</form>
<br>
<br>
<br>

<p>If you have not registered, please go <a href="/">Back</a> and sign up </p>