<h1>Want to join our smoothie bar? It's free to join and you will get a bunch of cool new smoothie recipes!</h1>
<form action="/users" method="post">
<label for="name">Name:</label>
<input type="text" name="name" value="">
<label for="email">Email:</label>
<input type="text" name="email" value="">
<label for="password">Password:</label>
<input type="text" name="password" value="">
<input type="submit" value="signup">
</form>

<a href="/">Back</a>